body {
  margin: 0;
  padding: 0;
  font-family: "Courier New";
background-image: linear-gradient(to right, #d612da, #a759f3, #7277fd, #3c8af9, #1297eb);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
